* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 10px;
}

.container .card {
  position: relative;
  width: 150px;
  height: 150px;
  background: rgba(45, 45, 45, 1);
  overflow: hidden;
}

.container .card::before {
  content: '';
  position: absolute;
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: .5s;
}

.container .card:hover::before {
  opacity: 1;
}

.container .card::after {
  content: '';
  position: absolute;
  inset: 2px;
  background: rgba(45, 45, 45, .9);
}